* {
    margin: 0;
    padding: 0;
    box-sizing: borderbox;
}

body {
    /* justify-content: center; */
    /* display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 200px 100px minmax(100px, auto);
    gap: 5px; */
    grid-auto-rows: minmax(125px, auto);
    grid-gap: .5rem;
    
    background-color: rgb(183, 211, 217);
    height: 100vh;
    
}


header {
    background-color: rgb(100, 100, 105);
    color: white;
    grid-column: 1fr;
    width: 100%;
    top: 0;
    left: 0;
    position: sticky;
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    /*overflow: auto;*/


}

h1 {
    text-align: justify;
    padding: 1rem;
    justify-content: center;
}

#vinculos {
    color: white;
    font-size: 1.5rem;
    outline: none;
    text-decoration: none;
}

#inicioLink {
    outline: none;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

#salonLink {
    outline: none;
    text-decoration: none;
    color: white;
    padding: 1rem;
    
}

#dormitorioLink {
    outline: none;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

#cocinaLink {
    outline: none;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

#lavanderiaLink {
    outline: none;
    text-decoration: none;
    color: white;
    padding: 1rem;
}


h2 {
    text-align: justify;
    justify-content: center;
    padding: 2rem 1rem 1rem 1rem ;
}

h2 + p {
    text-align: justify;
    padding: 1rem;
}

article {
    padding: 1rem;
}

h3, img + p {
    padding: 1rem;

}

img {
    padding: 1rem;
    width: 300px;
    height: 300px; 
}

#electrodomesticos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

article  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*overflow: auto;*/
  
}


