* {
    margin: 0;
    padding: 0;
    box-sizing: borderbox;
}

body {
    /* justify-content: center; */
    /* display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 200px 100px minmax(100px, auto);
    gap: 5px; */
    background-color: rgb(203, 221, 224);
    grid-auto-rows: minmax(125px, auto);
    grid-gap: .5rem;


}

header {
    background-color: rgb(100, 100, 105);
    color: white;
    grid-column: 1fr;
    width: 100%;
    top: 0;
    left: 0;
    position: sticky;

}

h1 {
    color: rgb(114, 252, 250);
    font-size: 40px;
    text-align: justify;
    padding: 1rem;
    justify-content: center;
    margin-left: 15px;
    margin-bottom: 15px;

}

#vinculos {
    background-color: rgb(89, 89, 94);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    outline: none;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}


#limpiezaLink {
    outline: none;
    text-decoration: none;
    color: white;
    padding: .8rem;
}

#salonLink {
    outline: none;
    text-decoration: none;
    color: white;
    padding: .8rem;


}

#banoLink {
    outline: none;
    text-decoration: none;
    color: white;
    padding: .8rem;
}

#dormitorioLink {
    outline: none;
    text-decoration: none;
    color: white;
    padding: .8rem;

}

#cocinaLink {
    outline: none;
    text-decoration: none;
    color: white;
    padding: .8rem;

}

#lavanderiaLink {
    outline: none;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

#bienvenida {
    text-align: center;
    margin: 1.5rem;
    justify-content: center;

}

#comoFunciona {
    text-align: justify;
    margin: 1.5rem;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
}

h2 {
    color: rgb(10, 79, 190);
    /*text-shadow: 3px 2px 3px rgb(213, 147, 42);*/
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2+p {
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#textoBienvenida {
    text-transform: center;
    font-size: 25px;

}

ol {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}

#imgCocina {
    border: 300px;
    width: 320px;
    margin: 20px;
    padding: 1rem;

}

#imgBaño {
    border: 10px;
    width: 420px;
    margin: 20px;
    padding: 1rem;
}

#imgSalon {
    border: 10px;
    width: 420px;
    margin: 20px;
    padding: 1rem;
}

#imgLimpieza {
    border: 10px;
    width: 420px;
    margin: 20px;
    padding: 1rem;
}

#imgDormitorio {
    border: 10px;
    width: 420px;
    margin: 20px;
    padding: 1rem;
}

#accesoNav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    list-style-type: none;
}

h3 {
    color: rgb(12, 65, 150);
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

footer {
    background-color: rgb(100, 100, 105);
    color: white;

}

#h3Footer {
    color: white;
    text-align: center;
}

h4 {
    font-weight: bold;
    font-size: 20px;

}

#creadores {
    font-size: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    background-color: #3e8e41;
}